.hello {
	border: 1px solid #ccc;
	padding: 10px;
	color :blue;	

}

body {
	/*background-color: #F7D9C1;*/
	background-image: url(../images/bg2.jpg);
	background-position: center;
	background-attachment: fixed;
	/*filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
-moz-background-size:100% 100%;  
    background-size:100% 100%; */
}
.mainContent {
	float :left;
	line-height: 18px;
	/*height: 280px;*/
	width: 600px;
}

#sidebar-a {
	float: right;
	width: 200px;
	line-height: 18px;
	border-left:1px solid gray;
	
	/* padding:1em; */
}

.padding {
	padding: 25px;
	/*background-color: red;*/
}

#page-container {
	overflow:hidden;
	width: 900px;
	margin: auto;
	background-color: #BBDFFA;
	filter:alpha(Opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
}

#content {
	border: 1px solid gray;
	height: 300px;
	overflow: auto;
}

.singleSentence {
	background-color: #B4E1A2;
	line-height: 18px;
}

.peiliaoSingleSentence {
	line-height: 18px;
	background-color: #72BBA3;
}

#header {
	/*background: #7AA27F;*/
	height: 60px;
	text-align:center;
	font-weight:bold;
	
}
.headerPadding{
	margin:5px auto auto auto;
	padding: 15px;
}