.hello {
	border: 1px solid #ccc;
	color :blue;	

}

body {
	background-image: url(../images/bg2.jpg);
	background-position: center;
	background-attachment: fixed;
}

.mainContent {
	float :left;
	line-height: 18px;
	/*height: 280px;*/
	width: 600px;
}

#sidebar-a {
	float: right;
	width: 200px;
	line-height: 18px;
	border-left:1px solid gray;
}

.padding {
	padding: 25px;
	/*border: 1px solid #ccc;*/
	/*background-color: red;*/
}

#page-container {
	overflow:hidden;
	width: 900px;
	margin: auto;
	background-color: #F2FFC1;
	/*半透明*/
	filter:alpha(Opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
}

#content {
	border: 1px solid gray;
	height: 300px;
	overflow: auto;
}

.whatUSay {
	padding-left: 20px;
	/*padding-top: 5px;*/
}

.peiliaoWord {
	padding-left: 20px;
}

.singleSentence {
	/*background-color: #B4E1A2;*/
	line-height: 5px;
}

.peiliaoSingleSentence {
	line-height: 5px;
	/*background-color: #72BBA3;*/
}

#header {
	/*background: #7AA27F;*/
	height: 60px;
	text-align:center;
	font-weight:bold;
	
}

.headerPadding{
	margin:5px auto auto auto;
	padding: 15px;
}

#iSay {
	resize: none;
}

.tooltip {
	filter:alpha(Opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
	width: 100px;
	height: 30px;
	 background: black;
	
}